{% extends "@FollowMeBundle/Resources/views/base.html.twig" %}
{% block title %}FollowMeBundle:SignIn:index{% endblock %}

{% block body %}

<h1>Signin</h1>

{{ form_start(form, {"attr": {"novalidate": "novalidate"} }) }}

{% include "@FollowMeBundle/Resources/views/_form/sign_errors.html.twig" %}
{% include "@FollowMeBundle/Resources/views/_form/sign_in.html.twig" %}

<br />
<div class="input-form">
   <button class="btn btn-success">SIGN IN</button>
</div>

{{ form_end(form) }}
{% endblock %}
 