{% form_theme form _self %}
{% block form_errors %}
{% spaceless %}
    {% if form.vars.errors|length > 0 %}
      <div class="alert alert-danger container_fluid col-xs-12">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">
        &times;
      </a>
      <strong>
        error
      </strong>

      {% for error in form.vars.errors %}
        <strong>{{ error.message|trans|capitalize }}</strong>
      {% endfor %}
      </div>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}