
<div class="input-group">
    {{form_label(form.confirm) }}
    {{form_errors(form.confirm) }}
</div>

<div class="input-group">
    <span class="input-group-addon glyphicon glyphicon-lock"></span>
    {{form_widget(form.confirm) }}
</div>

